In [1]:
from Flask_sql import *

In [7]:
role= Role(name='ad')

In [8]:
db.session.add(role)

In [9]:
db.session.commit()

In [10]:
user=User(name='xxx',role_id=role.id)
db.session.add(user)
db.session.commit()

In [12]:
user.name='yyy'
db.session.commit()

In [13]:
db.session.delete(user)
db.session.commit()

In [7]:
role=Role(name='admin')
db.session.add(role)
db.session.commit()

In [8]:
user1=User(name='ze',role_id=role.id)
user2=User(name='ll',role_id=role.id)
db.session.add_all([user1,user2])
db.session.commit()

In [2]:
ro1 = Role(name='admin')
db.session.add(ro1)
db.session.commit()

ro2 = Role(name='user')
db.session.add(ro2)
db.session.commit()

In [3]:
us1 = User(name='wang', email='wang@163.com', password='123456', role_id=ro1.id)
us2 = User(name='zhang', email='zhang@189.com', password='201512', role_id=ro2.id)
us3 = User(name='chen', email='chen@126.com', password='987654', role_id=ro2.id)
us4 = User(name='zhou', email='zhou@163.com', password='456789', role_id=ro1.id)
us5 = User(name='tang', email='tang@itheima.com', password='158104', role_id=ro2.id)
us6 = User(name='wu', email='wu@gmail.com', password='5623514', role_id=ro2.id)
us7 = User(name='qian', email='qian@gmail.com', password='1543567', role_id=ro1.id)
us8 = User(name='liu', email='liu@itheima.com', password='867322', role_id=ro1.id)
us9 = User(name='li', email='li@163.com', password='4526342', role_id=ro2.id)
us10 = User(name='sun', email='sun@163.com', password='235523', role_id=ro2.id)
db.session.add_all([us1, us2, us3, us4, us5, us6, us7, us8, us9, us10])

db.session.commit()

In [4]:
ro1.users

[<Role:wang 1 wang@163.com 123456>,
 <Role:zhou 4 zhou@163.com 456789>,
 <Role:qian 7 qian@gmail.com 1543567>,
 <Role:liu 8 liu@itheima.com 867322>]

In [5]:
User.query.all()

[<Role:wang 1 wang@163.com 123456>,
 <Role:zhang 2 zhang@189.com 201512>,
 <Role:chen 3 chen@126.com 987654>,
 <Role:zhou 4 zhou@163.com 456789>,
 <Role:tang 5 tang@itheima.com 158104>,
 <Role:wu 6 wu@gmail.com 5623514>,
 <Role:qian 7 qian@gmail.com 1543567>,
 <Role:liu 8 liu@itheima.com 867322>,
 <Role:li 9 li@163.com 4526342>,
 <Role:sun 10 sun@163.com 235523>]

In [5]:
User.query.count()

10

In [11]:
User.query.get(4)

In [6]:
User.query.filter(User.id==4)[0].name

'zhou'